services:
  # HomeAssistant
  homeassistant:
    image: homeassistant/home-assistant:stable
    container_name: home-assistant
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - homeassistant_data:/config
      - ./homeassistant/configuration.yaml:/config/configuration.yaml
    network_mode: host
    depends_on:
      - timescaledb

  # Timescale
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    container_name: timescaledb
    restart: unless-stopped
    environment:
      POSTGRES_ROOT_PASSWORD: "${POSTGRESQL_ROOT_PASSWORD}"
      POSTGRES_DB: ha_db
      POSTGRES_USER: homeassistant
      POSTGRES_PASSWORD: "${HA_POSTGRESQL_PASSWORD}"
      PUID: ${PUID}
      PGID: ${PGID}
    ports:
      - "5432:5432"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data

  # Grafana dashborad
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - timescaledb

  # Node-RED
  node-red:
    image: nodered/node-red:latest-22
    container_name: node-red
    restart: unless-stopped
    environment:
      - TZ=Europe/Oslo
    ports:
      - "1880:1880"
    volumes:
      - nodered_data:/data

  # MQTT
  mqtt:
    image: eclipse-mosquitto
    container_name: mosquitto
    restart: unless-stopped
    ports:
      - "1883:1883"
    environment:
      - TZ=Europe/Oslo
    volumes:
      - ./mosquitto:/mosquitto/config:ro
      - mosquitto_data:/mosquitto/data
      - mosquitto_log:/mosquitto/log

volumes:
  homeassistant_data:
  timescaledb_data:
  pgadmin_data:
  grafana_data:
  nodered_data:
  mosquitto_data:
  mosquitto_log:
