version: "3"
services:
  # HomeAssistant
  homeassistant:
    #image: homeassistant/home-assistant
    image: homeassistant/home-assistant:2022.6.7
    container_name: home-assistant
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - homeassistant_data:/config
      - ./homeassistant/configuration.yaml:/config/configuration.yaml
    network_mode: host
    depends_on:
      - timescaledb

  # Timescale
  timescaledb:
    image: timescale/timescaledb:latest-pg15
    container_name: timescaledb
    restart: unless-stopped
    environment:
      POSTGRES_ROOT_PASSWORD: "${POSTGRESQL_ROOT_PASSWORD}"
      POSTGRES_DB: ha_db
      POSTGRES_USER: homeassistant
      POSTGRES_PASSWORD: "${HA_POSTGRESQL_PASSWORD}"
      PUID: ${PUID}
      PGID: ${PGID}
    ports:
      - "5432:5432"
    volumes:
      - timescaledb_data:/var/lib/postgresql/data

  # Pgadmin 4
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
      - ./pgadmin/servers.json:/pgadmin4/servers.json
    depends_on:
      - timescaledb

  # Grafana dashborad
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - timescaledb

volumes:
  homeassistant_data:
  timescaledb_data:
  pgadmin_data:
  grafana_data:
